.home-section {
    position: relative;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    overflow: hidden;
}

.home-content {
    z-index: 2;
    max-width: 800px;
    padding: 20px;
}

.greeting {
    font-size: 3rem;
    margin-bottom: 10px;
    animation: float 4s ease-in-out infinite;
}

.highlight {
    color: #58a6ff;
}

.title {
    font-size: 2rem;
    margin-bottom: 20px;
    animation: fadeIn 2s ease-in-out;
}

.description {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 30px;
    animation: float 4s ease-in-out infinite;;
}

.cta-button {
    background-color: #58a6ff;
    color: white;
    padding: 12px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #1f6feb;
}

/* Animasyonlar */
@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}

@keyframes slideUp {
    from { transform: translateY(30px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

/* Responsive */
@media (max-width: 600px) {
    .greeting {
        font-size: 2rem;
    }

    .title {
        font-size: 1.5rem;
    }

    .description {
        font-size: 1rem;
    }
}
