.skills-section {
    background-color: rgba(24, 25, 27, 0.91);
    color: #e1e4e8;
    padding: 4rem 4rem;
    margin: 0 auto;
    padding: 300px;
}

.skills-section h2 {
    color: #9894f6;
    text-decoration:underline;
    text-decoration-color: #dcd215;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem 3rem;
}

.skill-item {
    background-color: #21262d;
    border-radius: 15px;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    box-shadow: 0 0 8px rgba(255, 244, 0, 0.87);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: default;
}

.skill-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(88, 166, 255, 0.6);
}

.skill-icon {
    width: 80px;
    height: 80px;
    object-fit: contain;
    filter: drop-shadow(0 0 2px #58a6ff);
}

.skill-name {
    font-size: 1.5rem;
    font-weight: 600;
    color: #0490a3;
}
@media (max-width: 768px) {
    .skills-section {
        padding: 150px 20px;
    }

    .skills-section h2 {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }

    .skills-list {
        gap: 1.5rem;
    }

    .skill-item {
        flex-direction: column;
        text-align: center;
        padding: 1rem;
    }

    .skill-icon {
        width: 60px;
        height: 60px;
    }

    .skill-name {
        font-size: 1.2rem;
    }
}

